<%= form_with(model: urun, local: true) do |form| %>
  <% if urun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(urun.errors.count, "error") %> prohibited this urun from being saved:</h2>

      <ul>
      <% urun.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :baslik %>
    <%= form.text_field :baslik %>
  </div>

  <div class="field">
    <%= form.label :aciklama %>
    <%= form.text_area :aciklama %>
  </div>

  <div class="field">
    <%= form.label :fiyat %>
    <%= form.number_field :fiyat %>
  </div>
  
  <div class="field">
     <%= form.label :resim %>
     <%= form.file_field :resim %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
