<%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% if user_signed_in? %>
    <p id="notice"><%= notice %></p>
    
    <h1>Uruns</h1>
    
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Baslik</th>
          <th>Aciklama</th>
          <th>Fiyat</th>
          <th>Resim</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @uruns.each do |urun| %>
          <tr>
            <td><%= urun.baslik %></td>
            <td><%= urun.aciklama %></td>
            <td><%= urun.fiyat %></td>
            <td><%= image_tag urun.resim.url(:thumb) if urun.resim? %></td>
            <td><%= link_to 'Show', urun %></td>
            <td><%= link_to 'Edit', edit_urun_path(urun) %></td>
            <td><%= link_to 'Destroy', urun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Urun', new_urun_path %>

<% end %> 
