<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% end %>

<div class="breadcrumbs">
  <div class="container">
    <header>
      <h3>HİZMETLERİMİZ</h3>
      
    </header>
  </div>
  <!-- container ends here -->
  <hr class="separator1">
</div>
<!-- breadcrumbs ends here --> 
<!-- Blog ==================================================
================================================== -->
<div class="container">
  <div class="ten columns alpha">
    <article class="post">
      <h3>Özel Tasarım Tavan Avİzelerİ</h3>
      <a href="images/flexslider/1.jpg" class="prettyPhoto[gal]"><%= link_to image_tag ("1.jpg") %></a>
      
      <p> Firmamıza ait tasarımlar ile sizlere en güzel avizeleri sunuyoruz.Siz müşterilerimize istediğiniz boyutlarda istediğiniz şekilde özel çizimler yaparak sizlere daha iyi hizmet vermeye çalışıyoruz. </p>
      </article>
    <article class="post">
      <h3>Sarkıt Avİzeler</h3>
      <a href="images/flexslider/2.jpg" class="prettyPhoto[gal]"><%= link_to image_tag ("2.jpg") %></a>
     
      <p>Firmamıza ait sarkıt modelli avizeler ile iş yerlerinizin veya evlernize daha şık durmasını sağlayan modeller ile sizlere hizmet vermekteyiz.</p>
      </article>
    <article class="post">
      <h3>Uygulama EkİBlerİmİz</h3>
      <a href="images/flexslider/3.jpg" class="prettyPhoto[gal]"><%= link_to image_tag ("3.jpg") %></a>
      
      <p> Siz müşterilerimizin evlerine yada iş yerlerinize yapılan işlemlerde herhangi bir problem oluşmadan daha sağlıklı daha sağlam işlemler yapmak için işinde profesyonel olmuş ustalar ile çalışarak sizlere daha iyi hizmetler vermeye çalışıyoruz.</p>
      </article>
  </div>
  <!-- ten columns ends here -->
  
  <aside class="six columns omega shadow1">
    <section class="recentnews">
      <h4 class="sidebarheader">Led & Spot</h4>
      <ul class="tabs">
       
      </ul>
      <ul class="tabs-content">
        <p> Dairenize ,villanıza veya iş yerlerinize iç mekan veya dış mekanlara RGB veya istenilen renklerde kumandalı veya kumandasız Led veya Spot işleri özenle yapılır. </p>
      </ul>
    </section>
    <!--end recent news-->
    <section class="latestphotos">
      <h4 class="sidebarheader">Resİmler</h4>
      <div class="one_half"> <%= link_to image_tag ("work1.jpg") %></div>
      <div class="one_half lastcolumn"> <%= link_to image_tag ("work2.jpg") %> </div>
      <div class="one_half">   <%= link_to image_tag ("work3.jpg") %> </div>
      <div class="one_half lastcolumn">  <%= link_to image_tag ("work4.jpg") %> </div>
    </section>
    <!--end latestphotos-->
    
    
    <!--end categories--> 
  </aside>
  <!--end six columns--> 
</div>





<script>
    $(document).ready(function(){
        $($('.sf-menu').find('li').find('a')[1]).attr('id','visited');
    });
</script>