<hr class="separator2">
<div class="socialsblock">
  <div class="container socialize">
    <h3>Sosyal Medya</h3>
    <section class="socials">
      <ul class="socials">
        <li><a href="https://www.linkedin.com/in/%C3%B6mer-g%C3%BCl-98a633132/" rel="nofollow" <%= link_to image_tag("socials/linkedin.png") %></a></li>
        <li><a href="#"><%= link_to image_tag("socials/twitter.png") %> </a></li>
        <li><a href="#"><%= link_to image_tag("socials/facebook.png") %></a></li>
        <li><a href="#"><%= link_to image_tag("socials/dribbble.png") %></a></li>
        <li><a href="#"><%= link_to image_tag("socials/google.png") %></a></li>
        <li><a href="#"><%= link_to image_tag("socials/youtube.png") %></a></li>
      </ul>
    </section>
  </div>
  <!-- container ends here --> 
</div>
<!-- socialsblock ends here --> 
<!-- Footer ==================================================
================================================== -->
<div class="footer" style="background-color:#000">
  <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="one_fourth">
      <h3>İletişim Bİlgileri</h3>
      <p><span class="orange"><strong>Adres:</strong></span> <br>
       KaracaAhmet Mah. 38024 Nolu Sokak NO/4, Şehitkamil / Gaziantep</p>
      <p><span class="orange"><strong>Phone:</strong></span> <br>
        0 (507) 191 38 95
        <br>
        0 (507) 134 07 72
      </p>

      
      <p><span class="orange"><strong>Email:</strong></span> <br>
        agelektrik@gmail.com<br>
      </p>
    </div>
            <div class="one_fourth lastcolumn" style="float:right;">
              <h3>HAKKIMIZDA</h3>
              <p>AG Elektirk ve Aydınlatma işini özenle yaparak müşteri memnuniyetini ön planda tutar. </p>
              <p>Sizlerde <a href="https://www.instagram.com/omer_gul27/?hl=tr" rel="nofollow">Ömer Gül'ü</a> tercih ederek bir web sayfasına sahip olabilirsiniz.</p>
            </div>
            <!-- four columns ends here --> 
        </div>
        <div class="col-md-2"></div>
    </div>
  </div>
  <!-- container ends here --> 
</div>
<!-- footer ends here --> 
<!-- Copyright ==================================================
================================================== -->
<div id="copyright">
  <div class="container">
    <p class="copyright"> Design 2019. by <a href="https://www.instagram.com/omer_gul27/?hl=tr" rel="nofollow">ÖMER GÜL</a>. Tüm Haklar Saklıdır.</p>
  </div>
  <!-- container ends here --> 
</div>
<!-- copyright ends here --> 