<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% end %>
<!--Breadcrumbs ==================================================
================================================== -->
<div class="breadcrumbs">
  <div class="container">
    <header>
      <h3>Portfolio Page</h3>
      <p>- Free, fully <span class="pink">responsive HTML</span> site template made by <a href="http://www.anarieldesign.com/" rel="nofollow"><strong>Anariel Design</strong></a> -</p>
    </header>
  </div>
  <!-- container ends here -->
  <hr class="separator1">
</div>
<!-- breadcrumbs ends here --> 
<!-- Portfolio ==================================================
================================================== -->
<div class="container portfolio">
    <% sayac=0 %>
    <% @Uruns.each do |urun| %>
            <% if(sayac==2) %>
                <div class="one_third lastcolumn shadow">
            <% else %>
                <div class="one_third shadow">
            <% end %>
                <div class="view view-first"> 
                    <center><%= image_tag urun.resim.url(:medium) , :class => "satir_resim"%></center>
                  <div class="mask">
                    <h2><a href="#">Ürün</a></h2>
                    <p><%= urun.baslik %></p>
                    <p><%= urun.aciklama %></p>
                    <p><%= urun.fiyat %></p>
                    <!-- image_tag urun.resim.url(:thumb) if urun.resim? -->
                  </div>
                  <!-- mask ends here --> 
                </div>
                <!-- view ends here --> 
            </div>
            <% if(sayac==2) %>
                </div></br></br><div class="container portfolio">
                <% sayac=0 %>
            <% end %>
        <% sayac +=1 %>
    <% end %>
</div>
<style>
    .satir_resim{
        min-height:180px;
        min-height:220px;
    }
</style>




<script>
    $(document).ready(function(){
        $($('.sf-menu').find('li').find('a')[2]).attr('id','visited');
    });
</script>